main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    gap: 20px;  
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
}

article {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;  
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    clip-path: circle(40% at 50% 50%);
    transition: clip-path 0.3s ease-in-out;
}

img:hover {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

nav ul {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;  
    list-style: none;
    gap: 20px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #f4d404;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 40px;
    text-align: center;
    color: #777;
}



